<!DOCTYPE html>
<html>
<head>
    <title>Consecutive Hotel Stay Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
</head>
<body>
    <div class="container">
        <h1>Consecutive Hotel Stay Search</h1>
        <form id="consecutive-stays-form">
            <div class="form-group">
                <label for="cs-start-date">Start Date</label>
                <input type="date" id="cs-start-date" class="form-control">
            </div>
            <div class="form-group">
                <label for="cs-end-date">End Date</label>
                <input type="date" id="cs-end-date" class="form-control">
            </div>
            <div class="form-group">
                <label for="cs-length-of-stay">Length of Stay (in days)</label>
                <input type="number" id="cs-length-of-stay" class="form-control">
            </div>
            <div class="form-group">
                <label for="cs-hotel">Hotel</label>
                <input type="text" id="cs-hotel" class="form-control">
            </div>
            <div class="form-group">
                <label for="cs-city">City</label>
                <input type="text" id="cs-city" class="form-control">
            </div>
            <div class="form-group">
                <label for="cs-country">Country</label>
                <input type="text" id="cs-country" class="form-control">
            </div>
            <div class="form-group">
                <label for="cs-points-budget">Max Points per Night</label>
                <input type="text" id="cs-points-budget" class="form-control">
            </div>
            <div class="form-group">
                <label for="cs-rate-filter">Rate Type: Standard or Premium</label>
                <input type="text" id="cs-rate-filter" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <table id="consecutive-stays-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Check-in Date</th>
                    <th>Check-out Date</th>
                    <th>Last Checked</th>
                    <th>Hotel</th>
                    <th>City</th>
                    <!-- <th>Country</th> -->
                    <th>Standard</th>
                    <th>Premium</th>
                    <th>Booking</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>