@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  padding:  0.5% 5%; /* Top/bottom padding: 0, Left/Right padding: 2.5% */
}

.form-container {
  border: 1px solid lightgrey;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
}

.table-container {
  padding: 1% 0;
}

.row {
  padding-bottom: 0.5%;
}

.home-container {
  margin-top: 1%;
  margin-bottom: 1%;
  border: 1px solid lightgrey;
  border-radius: 1%;
  padding: 1%;
}

.navbar-custom {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; 
  margin-left: 5%;
  margin-right: 5%;
}

.btn-space {
  margin-right: 10px;
}

.hotel-logo {
  width: 8%; /* Adjust as necessary */
  height: 8%; /* Adjust as necessary */
  position: relative; /* Needed to position the overlay and text */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: 0.3s; /* Adjust for different transition speed */
}

.hotel-logo img {
  width: 100%;
  height: auto;
}

.hotel-logo.active {
  filter: none;
}

.hotel-logo.inactive {
  filter: grayscale(100%);
  cursor: not-allowed;
}

.brands-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.hotel-logo:hover {
  filter: grayscale(10%);
}

.overlay {
  color: white; 
  font-family: 'Open Sans', sans-serif;
  font-size: 100%; 
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* Black background with some transparency */
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  opacity: 0; 
  transition: opacity 0.3s;
}

.hotel-logo:hover .overlay {
  opacity: 1; /* Show the overlay and text on hover */
}

.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature {
  flex: 0 0 25%; /* Adjust as necessary */
  margin-bottom: 0px;
  text-align: left;
}

.dataTables_wrapper .rdt_TableCell {
  font-size: 1.1em;
}

.rdt_TableCol div:first-child {
  white-space: normal !important;
  overflow: visible !important;
  font-size: 1.1em;
}

.alert.alert-info {
  /* Change the background color to an even lighter shade of purple */
  background-color: #e6e6fa;  /* Lavender */

  /* Change the font color to a darker shade for better contrast */
  color: #3d3d3d;

  /* Add border color */
  border: 1px solid #c8a2c8;  /* Lilac */

  /* Change padding */
  padding: 15px;
  
  /* Add some border radius for rounded corners */
  border-radius: 5px;
}

.btn.btn-primary.btn-lg.btn-space {
  background-color: #800080;  /* Lavender */
  border: 1px solid #c8a2c8;  /* Lilac */
}

.btn.btn-primary.mt-3 {
  background-color: #800080;  /* Lavender */
  border: 1px solid #c8a2c8;  /* Lilac */
}

.error{
  color: red
}

.rate-container {
  display: flex;
  justify-content: flex-start; /* Aligns the items horizontally */
}

.rate-block {
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9em;
  /* min-height: 30px; */
  /* margin-top: 5px; */
  margin-bottom: 3%;
  margin-right: 5px;
  display: flex;
  align-items: center; /* Align text vertically */
  justify-content: center; /* Align text horizontally */
}

.point-block {
  width: auto;
  white-space: nowrap;
  margin-right: 5px;
  font-size: 0.9em;
}

.column-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.green-background {
  background-color: green;
}

.grey-background {
  background-color: grey;
}

.col-md-2 {
  font-size: 0.9em
}

.rbc-toolbar-label {
  font-size: 2em;  /* Large font size */
  font-weight: bold;  /* Bold text */
  flex: 1;  /* Take available space */
  text-align: center;
  justify-content: space-between;
}

/* Make the search bar appear on top */
#search-bar {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

/* Hide the clear ('X') button */
.mapboxgl-ctrl-geocoder--button {
  display: none;
}

/* Style the small search button */
.mapboxgl-ctrl-geocoder > div > div {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.mapboxgl-ctrl-icon {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.map-container {
  height: 500px;
}

.marker {
  /* background-image: url('mapbox-icon.png'); */
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}